<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Friend List | Language Learning</title>
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    </head>
    <body>
        <h1>Friends List</h1>
        <div><a href="/addFriend">Add Friend!</a></div>
        <div><a href="/deleteFriend">Delete Friend!</a></div>
        <% if (friends.length === 1) { %>
        <h2>You have a friend.</h2>
        <% } else { %>
        <h2>You have <%= friends.length %> friends.</h2>
        <% } %>
        <ul>
            <% for( const friend of friends ) { %>
            <a href="/friends/<%= user.userId %>">
                <li class="friend">
                    <h3 class="friend"><%= friends.friendId %></h3>
                    <h3 class="friend"><%= friends.friendName %></h3>
                </li>
            </a>
            <% } %>
        </ul>
        <h2>----------------</h2>
    </body>
</html
