<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library | Language Learning</title>
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>

<body>
  <h1>Library</h1>
  <% if (words.length === 1) { %>
  <h2> There is <%= words.length %> word in the library.</h2>
  <% } else { %>
  <h2>There are <%= words.length %> words in the library. </h2>
  <% } %>


</body>

</html>
